<header class="page-header">
    <div class="navbar">
        <form id="search-form" class="navbar-form pull-right" role="search">
            <input type="search" class="form-control search-query" placeholder="Search...">
        </form>
        <div class="notifications pull-right">
            <div class="alert pull-right">
                <a href="#" class="close ml-xs" data-dismiss="alert">&times;</a>
                <i class="fa fa-info-circle mr-xs"></i> Note : <a id="notification-link" href="#"></a>Page refresh is not required.!
            </div>
        </div>
    </div>
    <div id="cover"> <div class="lds-ripple"><div></div><div></div></div> <div>Connecting to Live Server...</div></div>
</header>